body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

.btn-primary {
    background-color: #006A50;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 17px 34px;

}

/* hader style  */
header {
    width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 31px 160px; */
}

nav h3 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 32px;

}

nav button {
    border: 2px solid #006A50;
    width: 116px;
    height: 52px;
    background-color: #F5F5F5;
    color: #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;

}

.header-banner {
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-content h4 {
    color: #0e0e0e79;
    font-size: 24px;
    font-weight: 500;
}

.banner-content h2 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;
}

main {
    width: 1280px;
    margin: 0 auto;
}

.bd-pillars {
    margin-top: 80px;
}

.bd-pillars h3 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 40px;

}

.pillars-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;

}

.pillar-list {
    border: 2px solid #0E0E0E26;
    background-color: #FFFFFF;
    width: 302px;
    padding: 24px;
    border-radius: 16px;
}

.pillar-list h4 {
    color: #0E0E0ECC;
    font-weight: 700;
    font-size: 20px;
}

.pillar-list p {
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
    width: 254px;


}

.vision-bd-future {
    margin-top: 80px;
}

.vision-bd-future h2 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 40px;

}

.vision-bd-future p {
    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
}

.bd-future-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.bd-future-list-1 {
    width: 410px;
    height: 260px;
    background-color: rgba(84, 144, 245, 0.2);
    border: 0;
    border-radius: 16px;
    padding: 16px;
    margin-top: 32px;

}

.bd-future-list-2 {
    width: 410px;
    height: 260px;
    background-color: #C6E4D6;
    border: 0;
    border-radius: 16px;
    padding: 16px;
    margin-top: 32px;

}

.bd-future-list-3 {
    width: 410px;
    height: 260px;
    background-color: #F7EBCF;
    border: 0;
    border-radius: 16px;
    padding: 16px;
    margin-top: 32px;

}

.future-item-title {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 20px;

}

.future-item-description {
    color: rgba(14, 14, 14, 0.7);
    width: 346px;
    font-weight: 400;
    font-size: 16px;
}

.future-item-btn-1 {
    background-color: #5490F5;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 16px;
}

.future-item-btn-2 {
    background-color: #09A15C;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.future-item-btn-3 {
    background-color: #FFC239;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 16px;
}

.last-plan {
    border: 2px solid rgba(14, 14, 14, 0.15);
    background-color: #FFFFFF;
    padding: 0 24px;
    border-radius: 16px;
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 24px 48px;
    margin-top: 32px;
}

.last-plan h4 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 20px;
}

.last-plan p {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 400;
    font-size: 16px;



}


.opinion-section h2 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

.opinion-table {
    width: 100%;
    border-collapse: collapse;
}

.opinion-table th,
.opinion-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.opinion-table th {
    background-color: #cfe8dc;
    text-align: left;
}

.opinion-table select {
    padding: 6px 10px;
}

.select-btn {
    background-color: #C6E4D6;
    border: 0;
    border-radius: 4px;
}

.recent-news h3 {
    margin-top: 24px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;

}

.recent-news p {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
    /* margin-top: 24px; */
}

.item-banner img {
    border-radius: 24px;
}

.news-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 32px;

}


.news-item {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 24px;
    height: 402px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.item-content {
    margin-bottom: 56px;
}

.item-title {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 32px;

}

.item-date-time {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}

.item-description {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
    width: 744px;

}

.donate {
    margin-top: 80px;
}

.donate h3 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 40px;
    text-align: center;

}

.donate p {
    width: 1104px;
    margin: 0 auto;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}

.amounts {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.amount {
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 240px;
    height: 128px;
    padding: 40px;
    border-radius: 16px;
}

.amount:hover {
    background-color: #C6E4D6;
}

.amount h3 {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}



.other-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
}

.amount-input {
    width: 1032px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #FFFFFF;
    color: rgba(14, 14, 14, 0.15);
    padding: 20px 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}