body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

.btn-primary {
    background-color: #006A50;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 17px 34px;

}

/* hader style  */
header {
    width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 31px 160px; */
}

nav h3 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 32px;

}

nav button {
    border: 2px solid #006A50;
    width: 116px;
    height: 52px;
    background-color: #F5F5F5;
    color: #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;

}

.header-banner {
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-content h4 {
    color: #0e0e0e79;
    font-size: 24px;
    font-weight: 500;
}

.banner-content h2 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;
}